// text
$text-primary: #000;
$text-white: #FFF;
$text-secondary: #777689;
$text-light: #FFFFFF;
$text-link: #e70000;
$text-placeholder: rgba(119, 118, 137, 0.6);

$text-primary-opacity: rgba(0, 0, 0, 0.8);
$text-light-opacity: rgba(255, 255, 255, 0.8);
$text-dark-opacity-06: rgba(0, 0, 0, 0.6);

// Blocks
$block-light: #FFFFFF;
$block-gray: #f5f5f5;
$block-gray-3p: rgba(0, 0, 0, 0.03);
$block-gray-6p: rgba(0, 0, 0, 0.06);
$block-gray-8p: rgba(0, 0, 0, 0.08);
$block-gray-30p: rgba(0, 0, 0, 0.3);
$block-dark-60p: rgba(0, 0, 0, 0.6);
$block-dark-80p: rgba(0, 0, 0, 0.8);
$block-white-16p: rgba(255, 255, 255, 0.16);
$block-dark: #000;
$block-black-secondary: #424242;
$block-red: #e70000;
$block-red-hover: rgba(187, 0, 0, 1);
$block-highlight: #fff730;
$block-blue: #419FD9;
$block-green: #0DC143;

// Icons
$icon-light: #FFFFFF;
$icon-red: #e70000;
$icon-dark: #000;
$icon-gray: #777689;