@import 'base/reset';

html,
body {
    font-family: 'Onest', sans-serif;
    font-weight: 400;
    background: $block-gray;
}



.wrapper {
    padding: 0 calc(50% - 806px);

    @media (max-width: 1720px) {
        padding: 0 calc(50% - 700px);
    }

    @media (max-width: 1439px) {
        padding: 0 calc(50% - 600px);
    }

    @media (max-width: 1220px) {
        padding: 0 calc(50% - 500px);
    }

    @media (max-width: 1024px) {
        padding: 0 20px;
    }
}

svg {
    color: #000;
}