@mixin UI-48-52-600 {
    font-weight: 600;
    line-height: 52px;
    font-size: 48px;
}

@mixin UI-36-40-400 {
    font-weight: 400;
    line-height: 40px;
    font-size: 36px;
}

@mixin UI-28-100p-400 {
    font-weight: 400;
    line-height: 100%;
    font-size: 28px;
}

@mixin UI-28-100p-500 {
    font-weight: 500;
    line-height: 100%;
    font-size: 28px;
}

@mixin UI-24-30-400 {
    font-weight: 400;
    line-height: 30px;
    font-size: 24px;
}

@mixin UI-24-20-400 {
    font-weight: 400;
    line-height: 20px;
    font-size: 24px;
}

@mixin UI-20-20-400 {
    font-weight: 400;
    line-height: 20px;
    font-size: 20px;
}

@mixin UI-20-100p-400 {
    font-weight: 400;
    line-height: 100%;
    font-size: 20px;
}

@mixin UI-18-24-600 {
    font-weight: 500;
    line-height: 24px;
    font-size: 18px;
}

@mixin UI-18-24-400 {
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
}

@mixin UI-16-20-600 {
    font-weight: 600;
    line-height: 20px;
    font-size: 16px;
}

@mixin UI-16-20-500 {
    font-weight: 500;
    line-height: 20px;
    font-size: 16px;
}

@mixin UI-14-20-600 {
    font-weight: 600;
    line-height: 20px;
    font-size: 14px;
}

@mixin UI-14-100p-400 {
    font-weight: 400;
    line-height: 100%;
    font-size: 14px;
}

@mixin UI-14-20-500 {
    font-weight: 500;
    line-height: 20px;
    font-size: 14px;
}


@mixin UI-14-20-400 {
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
}

@mixin UI-12-20-400 {
    font-weight: 400;
    line-height: 18px;
    font-size: 12px;
}